<!-- sección 03-->

<section class="secciones">
    <h5>HARD & SOFT SKILLS</h5>

    <div class="container-fluid">

        <div class="row">

            <div class="text-center col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [outerStrokeWidth]="3"
                    [innerStrokeWidth]="3"
                    [space]="10"
                    [outerStrokeColor]="'#a4867b'"
                    [innerStrokeColor]="'#ccb399'"
                    [animation]="true"
                    [animationDuration]="900"
                    [showUnits]="false"
                    [title]="'DESARROLLO'"
                    [subtitle]="'BACK END'"
                    [titleFontSize]="'20 px'"
                    [subtitleFontSize]="'20 px'"
                    [titleColor]="'#a4867b'"
                    [subtitleColor]="'#a4867b'"
                    [backgroundColor]="'#ffffff'"

                    
                   
                ></circle-progress>


            </div>

            <div class="text-center col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <circle-progress
                    [percent]="75"
                    [radius]="100"
                    [outerStrokeWidth]="3"
                    [innerStrokeWidth]="3"
                    [space]="10"
                    [outerStrokeColor]="'#a4867b'"
                    [innerStrokeColor]="'#ccb399'"
                    [animation]="true"
                    [animationDuration]="900"
                    [showUnits]="false"
                    [title]="'DESARROLLO'"
                    [subtitle]="'FRONT END'"
                    [titleFontSize]="'20 px'"
                    [subtitleFontSize]="'20 px'"
                    [titleColor]="'#a4867b'"
                    [subtitleColor]="'#a4867b'"
                    [backgroundColor]="'#ffffff'"
                ></circle-progress>


            </div>

            <div class="text-center col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [outerStrokeWidth]="3"
                    [innerStrokeWidth]="3"
                    [space]="10"
                    [outerStrokeColor]="'#a4867b'"
                    [innerStrokeColor]="'#ccb399'"
                    [animation]="true"
                    [animationDuration]="900"
                    [showUnits]="false"
                    [title]="'GIT'"
                    [subtitle]="'GITHUB'"
                    [titleFontSize]="'20 px'"
                    [subtitleFontSize]="'20 px'"
                    [titleColor]="'#a4867b'"
                    [subtitleColor]="'#a4867b'"
                    [backgroundColor]="'#ffffff'"
                ></circle-progress>


            </div>

            <div class="text-center col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [outerStrokeWidth]="3"
                    [innerStrokeWidth]="3"
                    [space]="10"
                    [outerStrokeColor]="'#a4867b'"
                    [innerStrokeColor]="'#ccb399'"
                    [animation]="true"
                    [animationDuration]="900"
                    [showUnits]="false"
                    [title]="'IDIOMA'"
                    [subtitle]="'INGLÉS'"
                    [titleFontSize]="'20 px'"
                    [subtitleFontSize]="'20 px'"
                    [titleColor]="'#a4867b'"
                    [subtitleColor]="'#a4867b'"
                    [backgroundColor]="'#ffffff'"
                ></circle-progress>


            </div>

            <div class="text-center col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="3"
                    [innerStrokeWidth]="3"
                    [space]="10"
                    [outerStrokeColor]="'#a4867b'"
                    [innerStrokeColor]="'#ccb399'"
                    [animation]="true"
                    [animationDuration]="900"
                    [showUnits]="false"
                    [title]="'MOTIVACIÓN'"
                    [showSubtitle]="false"
                    [titleFontSize]="'20 px'"
                    [subtitleFontSize]="'20 px'"
                    [titleColor]="'#a4867b'"
                    [subtitleColor]="'#a4867b'"
                    [backgroundColor]="'#ffffff'"
                ></circle-progress>


            </div>

            <div class="text-center col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="3"
                    [innerStrokeWidth]="3"
                    [space]="10"
                    [outerStrokeColor]="'#a4867b'"
                    [innerStrokeColor]="'#ccb399'"
                    [animation]="true"
                    [animationDuration]="900"
                    [showUnits]="false"
                    [title]="'ORGANIZACIÓN'"
                    [showSubtitle]="false"
                    [titleFontSize]="'20 px'"
                    [subtitleFontSize]="'20 px'"
                    [titleColor]="'#a4867b'"
                    [subtitleColor]="'#a4867b'"
                    [backgroundColor]="'#ffffff'"
                ></circle-progress>


            </div>

            <div class="text-center col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <circle-progress
                    [percent]="95"
                    [radius]="100"
                    [outerStrokeWidth]="3"
                    [innerStrokeWidth]="3"
                    [space]="10"
                    [outerStrokeColor]="'#a4867b'"
                    [innerStrokeColor]="'#ccb399'"
                    [animation]="true"
                    [animationDuration]="900"
                    [showUnits]="false"
                    [title]="'PROLIJIDAD'"
                    [showSubtitle]="false"
                    [titleFontSize]="'20 px'"
                    [subtitleFontSize]="'20 px'"
                    [titleColor]="'#a4867b'"
                    [subtitleColor]="'#a4867b'"
                    [backgroundColor]="'#ffffff'"
                ></circle-progress>


            </div>

            <div class="text-center col-sm-12 col-md-6 col-lg-4 col-xl-3">

                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="3"
                    [innerStrokeWidth]="3"
                    [space]="10"
                    [outerStrokeColor]="'#a4867b'"
                    [innerStrokeColor]="'#ccb399'"
                    [animation]="true"
                    [animationDuration]="900"
                    [showUnits]="false"
                    [title]="'TRABAJO'"
                    [subtitle]="'EN EQUIPO'"
                    [titleFontSize]="'20 px'"
                    [subtitleFontSize]="'20 px'"
                    [titleColor]="'#a4867b'"
                    [subtitleColor]="'#a4867b'"
                    [backgroundColor]="'#ffffff'"
                ></circle-progress>


            </div>

        </div>  

    </div>
    
</section>

