<!-- sección 02-->

<section class="secciones">
    <h5>EDUCACIÓN</h5>

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-4">
                <img src="../assets/LogoAPcolor.png" alt="Logo AP color">
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="botones">
                    <a href=""><i class="bi bi-pencil-square"></i></a>
                    <a href=""><i class="bi bi-file-x"></i></a>
                </div>
                <p> <strong>PROGRAMADORA FULL STACK DEVELOPER JR.</strong> <br> <i>- agosto 2021 / mayo 2022 -</i> <br>Plan Argentina Programa. Ministerio de Desarrollo Productivo.</p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-4">
                <img src="../assets/LogoChuburu.png" alt="Logo Web Chuburu">
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="botones">
                    <a href=""><i class="bi bi-pencil-square"></i></a>
                    <a href=""><i class="bi bi-file-x"></i></a>
                </div>
                <p> <strong>DISEÑADORA WEB</strong> <br> <i>- 2017 -</i>  <br>Curso de diseño web. Estudio Laura Chuburu.</p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-4">
                <img src="../assets/LogoUNLP.png" alt="Logo UNLP">
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="botones">
                    <a href=""><i class="bi bi-pencil-square"></i></a>
                    <a href=""><i class="bi bi-file-x"></i></a>
                </div>
                <p> <strong>DISEÑADORA EN COMUNICACIÓN VISUAL</strong> <br> <i>- 2005 / 2011 -</i> <br>Facultad de Bellas Artes. Universidad Nacional de La Plata.</p>
            </div>

        </div>

    </div>

</section>
