<!-- sección 04-->

<section class="secciones">
    <h5>PROYECTOS</h5>

    <div class="container-fluid">

        <div class="proyecto">

            <div class="botones">
                <a href=""><i class="bi bi-pencil-square"></i></a>
                <a href=""><i class="bi bi-file-x"></i></a>
            </div>

             <div>
                <p><strong>PORTFOLIO WEB - ARGENTINA PROGRAMA.</strong> <i>Mayo 2022.</i> <br>Desarrollo de una aplicación web full stack, con arquitectura distribuida, diseño de interfaz de usuario (front end), base de datos y APIs (back end).</p>
                <button type="button" class="btn btn-link">Mirá mi repositorio acá</button>
            </div>

        </div>


        <div class="proyecto">

            <div class="botones">
                <a href=""><i class="bi bi-pencil-square"></i></a>
                <a href=""><i class="bi bi-file-x"></i></a>
             </div>

            <div>
                <p><strong>PORTFOLIO - DISEÑO GRÁFICO FREELANCE.</strong> <i>Mayo 2022.</i> <br>Desarrollo de diseños y piezas gráficas para distintas instituciones, emprendedores y comercios, de distintas localidades de la provincia de Buenos Aires.</p>
                <button type="button" class="btn btn-link">Mirá mis diseños acá</button>
            </div>

        </div>

    </div>

</section>
