<!-- acá empieza la info personal -->

<div class="infopersonal">

    <div class="datos01">

        <div class="botones">
            <a href=""><i class="bi bi-pencil-square"></i></a>
        </div>

        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <p>Full Stack Developer Jr.</p>

    </div>

    <div class="datos02">

        <div class="botones">
            <a href=""><i class="bi bi-pencil-square"></i></a>
            <a href=""><i class="bi bi-file-x"></i></a>
        </div>
       <h6><b>INFORMACIÓN PROFESIONAL</b></h6>
        <p>Diseñadora en Comunicación Visual recibida de la Universidad Nacional de La Plata. Incursionando en la programación web, con gran interés en el desarrollo Front End.</p>

    </div>

</div>

<!-- acá va una línea divisoria -->

<hr>
