<!-- sección 01 -->

<section class="secciones">
    <h5>EXPERIENCIA</h5>


    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-4">
                <img src="../assets/LogoFreelance.png" alt="Logo Freelance">
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="botones">
                    <a href=""><i class="bi bi-pencil-square"></i></a>
                    <a href=""><i class="bi bi-file-x"></i></a>
                </div>
                <p> <strong>DISEÑADORA FREELANCE</strong> <br> <i>- 2012 a la actualidad -</i> <br>Diseño de logotipos, identidades visuales, flyers, posteos para redes sociales,  papelería, tarjetería y vinilos.</p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-4">
                <img src="../assets/LogoTurismo.png" alt="Logo Turismo">
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="botones">
                    <a href=""><i class="bi bi-pencil-square"></i></a>
                    <a href=""><i class="bi bi-file-x"></i></a>
                </div>
                <p> <strong>DISEÑADORA EN LA SUBSECRETARÍA DE TURISMO DE LA PROVINCIA DE BUENOS AIRES</strong> <br> <i>- desde 01/01/17 hasta 31/12/17 -</i> <br>Diseño de publicaciones para Instagram y Twitter de la Dirección de Promoción Turística.</p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-4">
                <img src="../assets/LogoMEcon.png" alt="Logo MEcon">
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="botones">
                    <a href=""><i class="bi bi-pencil-square"></i></a>
                    <a href=""><i class="bi bi-file-x"></i></a>
                </div>
                <p> <strong>DISEÑADORA EN EL MINISTERIO DE ECONOMÍA, OFICINA DE COMUNICACIÓN INTERNA</strong> <br> <i>- desde 01/07/13 hasta 30/04/14 -</i> <br>Diseño de flyers, banners, papelería e invitaciones, destinados a la comunicación interna del Ministerio.</p>
            </div>

        </div>

    </div>

</section>
